{% extends "./public/base.html" %}

{% block title %}首页{% endblock %}

{% block main_content %}
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img class="card-img-bottom" src="{{ root_path }}/public/timeline/images/800x150.png" alt="Card image cap">
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img class="card-img-bottom" src="{{ root_path }}/public/timeline/images/800x150.png" alt="Card image cap">
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img class="card-img-bottom" src="{{ root_path }}/public/timeline/images/800x150.png" alt="Card image cap">
    </div>
{% endblock %}