
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>时间线 - {% block title %}{% endblock %}</title>
    {% include "public/header.html" %}
    {% block styles %}{% endblock %}
</head>
<body>
    {% include "public/head_nav.html" %}

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-9">
                {% block main_content %}{% endblock %}
            </div>
            <div class="col-3 sidebar">
                {% include "public/sidebar.html" %}
            </div>
        </div>
    </div>

    {% include "public/footer.html" %}
    {% block scripts %}{% endblock  %}
</body>
</html>