
    <link rel="shortcut icon" href="{{ root_path }}/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ root_path }}/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ root_path }}/public/timeline/css/style.css">
    <script src="{{ root_path }}/public/jquery/jquery.min.js"></script>