<div class="card">
    <img class="card-img-top" src="{{ root_path }}/public/timeline/images/banner.png" alt="Card image cap">
    <div class="card-body pt-3">
        <div class="row pb-3">
            <div class="col-3">
                <div class="avatar">
                    <img class="rounded-circle" width="80" height="80" src="{{ root_path }}/public/timeline/images/avatar.png" alt="用戶頭像">
                </div>
            </div>
            <div class="col-8 offset-1">
                <h5 class="card-title">學習使我變強</h5>
                <h6 class="card-subtitle">@metanoia1989</h6>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <span class="text-secondary">推文数</span>
                <span class="text-primary">1,111</span>
            </div>
            <div class="col text-center">
                <span class="text-secondary">关注数</span>
                <span class="text-primary">302</span>
            </div>
            <div class="col text-center">
                <span class="text-secondary">粉丝数</span>
                <span class="text-primary">60</span>
            </div>
        </div>
    </div>
</div>